---
import type { Languages, PageNames } from 'data/enum';
import { getI18nCopy } from 'data/i18n';
interface Props {
  lang: Languages;
  pageName: PageNames;
  nextPageName: string;
  href: string;
}

const { lang, pageName, nextPageName, href } = Astro.props;
const { goTo, thisis } = getI18nCopy(lang)[pageName];
---

<content class="text-center">
  <h4 class="text-h4">{thisis} {pageName}.</h4>
  <p>{goTo} <a href={href}>{nextPageName}</a>.</p>
</content>
